<div class="container"> 
<h1>About us</h1>
<p>Car Rental Service is specialized to help people to list their car tom</p>
<p>If you need a guestion, feel free to contact us by clicking link below</p>
<a href="/contact">Contact Us</a>
<small>All rights reserved. Copyright &copy 2023</small>
</div>